MYSQL_USER=shannon
MYSQL_PASSWORD=change-this-db-password
MYSQL_ROOT_PASSWORD=change-this-root-password

LETSENCRYPT_DOMAIN=shannonmanifold.p-e.kr
LETSENCRYPT_WWW_DOMAIN=
LETSENCRYPT_EMAIL=admin@example.com
CERTBOT_STAGING=0
